// FIXME: Remove once normalize supports this
[vp-content] {
  ol ol {
    list-style-type: lower-roman;

    ol {
      list-style-type: lower-alpha;
    }
  }
}

// 隐藏「音乐馆」页面标题下的 hr 分隔线
.music-page .vp-page-title hr {
  display: none;
}