// FIXME: Remove once normalize supports this
[vp-content] {
  ol ol {
    list-style-type: lower-roman;

    ol {
      list-style-type: lower-alpha;
    }
  }
}

// 导航栏字体大小和间距
.vp-nav-links {
  font-size: 1rem;
  gap: 0.3rem;
}

// 一言描述跟随深浅色主题变化
.hitokoto {
  color: var(--vp-c-text) !important;
}

.hitokoto-author {
  color: var(--vp-c-text) !important;
}